{% extends "base.html" %} {% block content %}
<div class="wrapper">
  <section class="form-left">
    <h1 class="white">Add a new book</h1>
    <p class="white">This book will be added to the database, ready to loan!</p>
  </section>
  <section class="form-right">
    <form action="/books" method="post">
      <div class="form-field">
        <label for="title">Title</label><br />
        <input class="form-control" type="text" name="title" id="title" />
      </div>
      <div class="form-field">
        <label for="description">Description</label><br />
        <textarea
          name="description"
          id="description"
          rows="2"
          cols="30"
          class="form-control"
        ></textarea>
      </div>
      <div class="form-field">
        <label for="author">Author</label><br />
        <input class="form-control" type="author" name="author" id="author" />
      </div>
      <div class="form-field">
        <label for="genre">Genre</label><br />
        <input class="form-control" type="text" name="genre" id="genre" />
      </div>
      <div class="form-field">
        <label for="cover_url">Cover url</label><br />
        <input
          class="form-control"
          type="text"
          name="cover_url"
          id="cover_url"
        />
      </div>
      <div class="form-field flex">
        <label for="checked_out">Is the book currently checked out?</label>
        <br />
        <input
          type="checkbox"
          name="checked_out"
          id="checked_out"
          value="True"
          class="form-control"
        />
      </div>
      <label for="lang">Customer checking out the book</label>
      <select name="customer" id="customer">
        <option value="">Select</option>
        {% for customer in customers %}
        <option value="{{ customer.urn }}">{{ customer.name }}</option>
        {% endfor %}
      </select>
      <input type="hidden" name="checked_out" value="False" />
      <input type="submit" class="btn btn-primary" value="Add book" />
    </form>
  </section>
</div>
{% endblock %}
